D:\projectCS163\SearchEngine\searchEngine\searchEngine\Debug
.vs/search engine/v16/.suo
.vs/search engine/v16/Browse.VC.db
*.opendb
*.db
*.ipch
*.db
*.db
*.obj
*.exe
*.ilk
*.log
.vs/search engine/v16/Browse.VC.db
x64/Debug/search engine.log
